#!/bin/sh

export JAVA_HOME=/opt/java/jdk-17.0.3+7-jre/
export PATH=$JAVA_HOME/bin:$PATH

cd {{ webgoat_basedir }}
WEBWOLF_HOST=0.0.0.0 WEBWOLF_PORT={{ webwolf_port }} TZ={{ webgoat_timezone }} java -Dfile.encoding=UTF-8 -jar webwolf.jar
