#!/bin/sh

export JAVA_HOME=/opt/java/jdk-17.0.3+7-jre/
export PATH=$JAVA_HOME/bin:$PATH

cd {{ webgoat_basedir }}
WEBGOAT_HOST=0.0.0.0 WEBGOAT_PORT={{ webgoat_port }} TZ={{ webgoat_timezone }} java -Dfile.encoding=UTF-8 -jar webgoat.jar
