[Unit]
Description=OWASP WebGoat
After=network.target

[Service]
User=webgoat
Type=simple
ExecStart={{ webgoat_basedir }}/start_webgoat.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target