[Unit]
Description=OWASP WebWolf
After=network.target

[Service]
User=webgoat
Type=simple
ExecStart={{ webgoat_basedir }}/start_webwolf.sh
After=webgoat.service
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target